/*
===========================
===========================

BOOKING STYLE

Author: hung.luong@matocreative.vn

===========================
===========================
 */

#booking-section{
    .slide#slider{
        .carousel-inner{
            height:100%;

            .item{
                height:100%;

                .mask{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .slide-banner{
                width:70%;
                position: absolute;
                top: 40%;
                left: 15%;

                @keyframes fadeIn {
                    from{opacity: 0;}
                    to{opacity: 1;}
                }

                .image{
                    width:50%;
                    margin-left: 25%;

                    img{
                        width: 100%;
                    }

                }


                .button{
                    width: 100%;
                    text-align: center;
                    margin-top: -15px;

                    a{
                        margin: 15px auto;
                        padding: 10px 30px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        border-radius: 10px;
                        background: transparent;
                        border: 2px solid #fff;
                        color: #fff;


                        &:hover{
                            background-color: #fff;
                            color: $primary;
                        }

                        span{
                            &:before{
                                content: "•";
                                padding-right: 15px;
                            }

                            &:after{
                                content: "•";
                                padding-left: 15px;
                            }
                        }

                    }
                }
            }
        }

        .carousel-control{
            i.fa{
                position: absolute;
                top: 50%;
                z-index: 5;
                display: inline-block;

                width: 30px;
                height: 30px;
                margin-top: -10px;

                &.fa-angle-left{
                    left: 30px;
                }

                &.fa-angle-right{
                    right: 30px;
                }
            }
        }

        .slider-footer{
            width:100%;
            height: fit-content;
            position: absolute;
            top: 100%;
            left: 0;
            margin-top: -176px;

            .mask{
                width:100%;
                height:100%;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        @keyframes scrollTop {
            from{top:105%;}
            to{top:103%;}
        }

        #scrollBottom{
            width: 50px;
            height: 50px;
            position: absolute;
            z-index: 998;
            top: 100%;
            left: 50%;
            margin-top: -25px;
            margin-left: -25px;

            -webkit-animation-name: scrollTop;
            -moz-animation-name: scrollTop;
            -o-animation-name: scrollTop;
            animation-name: scrollTop;

            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
            -o-animation-duration: 1s;
            animation-duration: 1s;

            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

            -webkit-animation-direction: alternate-reverse;
            -moz-animation-direction: alternate-reverse;
            -o-animation-direction: alternate-reverse;
            animation-direction: alternate-reverse;

            -webkit-animation-timing-function: ease-in-out;
            -moz-animation-timing-function: ease-in-out;
            -o-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;

            a{
                color: #333;
            }
        }
    }

    .content{
        padding-top: 100px;
        padding-bottom: 100px;

        .mask{
            width: 100%;
            overflow: hidden;
            margin: 0 auto;

            position: relative;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .image-decor{
                width: 94%;
                height: 94%;
                border: 1px solid #fff;

                position: absolute;
                top: 3%;
                left: 3%;
            }
        }

        .text{
            padding: 0 15px 15px 15px;
            text-align: center;
            color: $text-color;

            h1{
                margin-top: 0;
                margin-bottom: 30px;
            }

            .box{
                width: 100%;

                margin-top: 30px;

                padding-top: 15px;
                padding-bottom: 15px;

                border: 1px solid $text-color;
            }
        }

        .title{
            text-align: center;
            display: block;
        }

        &#getDirection{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }

        .title{
            padding-bottom: 70px;
        }

        .btn-outline{
            border: 1px solid $text-color;
            padding: 15px 30px;
            color: $text-color;

            &:hover{
                background-color: $primary;
                color: #fff;
                border-color: transparent;
            }
        }
    }

    .content{
        padding-top: 50px;
        padding-bottom: 50px;

        .form-group{
            margin-left: 0;
            margin-right: 0;

            textarea{
                resize: none;
            }
        }

        .btn-outline{
            background-color: transparent;
            margin-top: 5px;

            &:hover{
                background-color: $primary;
                color: #fff;
                border-color: transparent;
            }
        }
    }
}