/*
===========================
===========================

MAIN VARIABLES STYLE

Author: hung.luong@matocreative.vn

===========================
===========================
 */

$primary: #df2b26;
$primary-hover: #ac211d;

$text-color: #6d6d6d;