/*
Import variable.scss
 */

@import "variable";

.cover{
    width: 100%;
    height: 50vh;

    .mask{
        width: 100%;
        height: 100%;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

#list-blogs{
    .item{
        margin-bottom: 30px;

        .mask{
            width: 100%;

            border: 1px solid #eaeaea;

            margin-bottom: 30px;

            a{
                height: 100%;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        a{
            font-size: 1.5em;
            font-weight: bold;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-height: 1.7em;
            height: 3.4em;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;

            color: $text-color;

            &:hover{
                color: $text-color;
            }
        }
    }

    .page{
        text-align: center;

        strong{
            border: 1px solid #337ab7;
            border-radius: 3px;
            margin-right: 3px;
            padding: 5px 10px;
            color: #fff;
            cursor: pointer;
            background-color: #337ab7;
            border-color: #337ab7;
        }

        a{
            color: #23527c;
            background-color: #fff;
            border-color: #fff;
            border-radius: 3px;
            margin-right: 3px;
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                background: #ddd;
            }
        }
    }
}

#detail-blogs{
    .row{
        .left{
            .title{
                text-align: left
            }

            .blog-content{
                text-align: left;

                article{
                    p{
                        &.description{
                            font-size: 1.25em;
                            color: $text-color;

                            margin-bottom: 30px;
                        }

                        &.paragraph{
                            font-size: 1em;
                            color: #999;
                        }
                    }

                    img{
                        width: 100% !important;
                    }
                }

                .fb-comments{

                }
            }

            .blog-related{
                .title{
                    padding-top: 30px;
                    padding-bottom: 50px;
                }

                .row{
                    .media{
                        .media-left{
                            .mask{
                                width: 100px;
                                height: 100px;
                                overflow: hidden;

                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }

        .right{
            .booking{
                padding-bottom: 30px;
                border-bottom: 1px solid #eaeaea;

                .form-horizontal{
                    .form-group{
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }

            .contact{
                padding-top: 30px;
            }
        }
    }

}