/*
MAIN STYLE OF SITE

AUTHOR: hung.luong@matocreative.vn

CONTENT:

1/HEADER
2/BODY
3/FOOTER

 */

/*
Import variable.scss
 */

@import "variable";

*{
    -webkit-overflow-scrolling: touch;
}

body, html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

/*
========== HEADER ==========
 */

.header{
    width: 100%;

    padding-top: 15px;
    padding-bottom: 30px;

    @include headerBackground;

    position: fixed;
    z-index: 999;

    .container{
        position: relative;
        height: 150px;

        .logo{
            width: 250px;
            height: 144px;

            position: absolute;
            top: 30px;
            left: 50%;
            margin-left: -125px;
            z-index: 1001;

            img{
                width: 60%;
                margin-top: -45px;
                margin-left: 20%;

            }
        }

        .nav-expand-btn{
            width: 50px;
            padding: 5px;
            border: 1px solid #fff;

            position: absolute;
            top: 20px;
            right: 15px;

            span{
                display: block;
                width: 100%;
                height:4px;
                background-color: #fff;
                margin-top: 5px;
                margin-bottom: 5px;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }
        }

        .nav-expand{
            width: 100%;
            position: absolute;
            top: 20px;
            left: 0;

            padding-top: 30px;
            padding-bottom: 30px;

            a{
                color: #fff;
            }

            ul{
                padding-left: 0;
                list-style: none;

                li{
                    a:hover{
                        background-color: transparent;
                    }
                }
            }

            .left{
                width: 40%;
                float: left;

                ul{
                    li{
                        text-align: center;
                    }
                }
            }

            .right{
                width: 40%;
                float: right;

                ul{
                    li{

                        &#bookTable{
                            -webkit-border-radius: 3px;
                            -moz-border-radius: 3px;
                            border-radius: 3px;

                            a{
                                color: #fff;
                            }

                            /*
                            &:hover{
                                background-color: #fff;

                                a{
                                    color: $primary;
                                }
                            }
                            */
                        }

                        select.form-control{
                            background-color: transparent;
                            color: #fff;
                        }

                        &#dropDownLang{
                            ul.dropdown-menu{
                                background-color: transparent;
                                -webkit-box-shadow: none;
                                -moz-box-shadow: none;
                                box-shadow: none;

                                border: none;

                                li{
                                    a:hover{
                                        background-color: transparent;
                                    }
                                }
                            }
                        }

                        select{
                            option{
                                color: $text-color;
                            }
                        }
                    }

                    li.open{
                        a:focus{
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    &.fixed{
        .container{
            height: 100px;
        }
    }
}

/*
========== BODY ==========
 */

.slide#slider{


    .carousel-inner{
        height:100%;

        .item{
            height:100%;

            .mask{
                width: 100%;
                height: 100%;
                overflow: hidden;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .slide-banner{
            width:70%;
            position: absolute;
            top: 40%;
            left: 15%;

            @keyframes fadeIn {
                from{opacity: 0;}
                to{opacity: 1;}
            }

            .image{
                width:50%;
                margin-left: 25%;

                img{
                    width: 100%;
                }

            }


            .button{
                width: 100%;
                text-align: center;
                margin-top: -15px;

                a{
                    margin: 15px auto;
                    padding: 10px 30px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                    background: transparent;
                    border: 2px solid #fff;
                    color: #fff;


                    &:hover{
                        background-color: #fff;
                        color: $primary;
                    }

                    span{
                        &:before{
                            content: "•";
                            padding-right: 15px;
                        }

                        &:after{
                            content: "•";
                            padding-left: 15px;
                        }
                    }

                }
            }
        }
    }

    .carousel-control{
        i.fa{
            position: absolute;
            top: 50%;
            z-index: 5;
            display: inline-block;

            width: 30px;
            height: 30px;
            margin-top: -10px;

            &.fa-angle-left{
                left: 30px;
            }

            &.fa-angle-right{
                right: 30px;
            }
        }
    }

    .slider-footer{
        width:100%;
        height: fit-content;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: -176px;

        .mask{
            width:100%;
            height:100%;
            overflow: hidden;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    @keyframes scrollTop {
        from{top:105%;}
        to{top:103%;}
    }

    #scrollBottom{
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 998;
        top: 100%;
        left: 50%;
        margin-top: -25px;
        margin-left: -25px;

        -webkit-animation-name: scrollTop;
        -moz-animation-name: scrollTop;
        -o-animation-name: scrollTop;
        animation-name: scrollTop;

        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;

        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate-reverse;
        -moz-animation-direction: alternate-reverse;
        -o-animation-direction: alternate-reverse;
        animation-direction: alternate-reverse;

        -webkit-animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out;
        -o-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;

        a{
            color: #333;
        }
    }
}

.main-content{
    padding-left: 0;
    padding-right: 0;

    .content{
        padding-top: 100px;
        padding-bottom: 100px;

        .mask{
            width: 100%;
            overflow: hidden;
            margin: 0 auto;

            position: relative;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .image-decor{
                width: 94%;
                height: 94%;
                border: 1px solid #fff;

                position: absolute;
                top: 3%;
                left: 3%;
            }
        }

        .text{
            padding: 0 15px 15px 15px;
            text-align: center;
            color: $text-color;

            h1{
                margin-top: 0;
                margin-bottom: 30px;
            }

            .box{
                width: 100%;

                margin-top: 30px;

                padding-top: 15px;
                padding-bottom: 15px;

                border: 1px solid $text-color;
            }
        }

        .title{
            text-align: center;
            display: block;
        }

        &#getDirection{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;
        }

        .title{
            padding-bottom: 70px;
        }

        .btn-outline{
            border: 1px solid $text-color;
            padding: 15px 30px;
            color: $text-color;

            &:hover{
                background-color: $primary;
                color: #fff;
                border-color: transparent;
            }
        }
    }

    .break{
        width: 100%;
        padding: 150px 0px;


        position: relative;

        -webkit-background-size: cover;
        background-size: cover;
        background-position: center center;

        .container{
            .title{
                width: 50%;
                padding: 50px 20px;
                margin: auto;
                border: 2px solid #fff;

                text-align: center;
                color: #fff;
            }
        }
    }

    .container-fluid#gallery{
        padding-left: 0;
        padding-right: 0;

        .slide#slideGallery{
            .item{
                .image{
                    padding-left: 0;
                    padding-right: 0;
                }

                .inner{
                    padding: 5px;

                    .mask{
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .carousel-control{
                background-image: none;

                i.fa{
                    position: absolute;
                    top: 50%;
                    z-index: 5;
                    display: inline-block;

                    width: 30px;
                    height: 30px;
                    margin-top: -10px;
                }
            }
        }
    }

    .content#contact{
        padding-top: 50px;
        padding-bottom: 50px;

        .form-group{
            margin-left: 0;
            margin-right: 0;

            textarea{
                resize: none;
            }
        }

        .btn-outline{
            background-color: transparent;

            &:hover{
                background-color: $primary;
                color: #fff;
                border-color: transparent;
            }
        }
    }

    .content#booking{
        padding-top: 50px;
        padding-bottom: 50px;

        .form-group{
            margin-left: 0;
            margin-right: 0;

            textarea{
                resize: none;
            }
        }

        .btn-outline{
            background-color: transparent;
            margin-top: 5px;

            &:hover{
                background-color: $primary;
                color: #fff;
                border-color: transparent;
            }
        }
    }

}

#floor-plan{
    .modal-body{
        img{
            width: 100%;
        }
    }
}

/*
========== FOOTER ==========
 */

.footer{
    background-color: #000;
    color: #fff;

    padding-top: 15px;
    padding-bottom: 20px;

    .left{
        text-align: left;
        padding-top: 180px;
    }

    .middle{
        text-align: center;

        .logo{
            width: 300px;
            margin: auto;

            img{
                width: 100%;
            }
        }

        ul{
            padding-left: 0;

            li{
                display: inline-block;
                padding: 10px;


                a{
                    span.fa-stack{
                        background-color: #fff;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;

                        i{
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    .right{
        text-align: right;
        padding-top: 180px;
    }
}

/*
IMPORT STYLES
 */

@import "responsive";
@import "font-settings";