/*
MAIN RESPONSIVE STYLE OF SITE

AUTHOR: hung.luong@matocreative.vn

CONTENT:

1/MOBILE
2/TABLET
3/DESKTOP

 */

/*
========== MOBILE ==========
 */

@media (max-width: 767px){
    .header{


        .container{
            height: 100px;

            .logo{
                left: 15px;
                margin-left: 0;

                img{
                    width: 40%;
                    margin-top: -30px;
                    margin-left: 15px;
                }
            }

            .nav-expand-btn {
                top: 30px;
            }

            .nav-expand{
                top: 100%;
                background-color: #333;

                z-index: 999;

                .left, .right{
                    float: left;

                    ul{

                        li{
                            width: 80%;
                            display: list-item;

                            a{
                                text-align: left;
                            }
                        }
                    }
                }

                .left{
                    width: 50%;

                    ul{
                        padding-left: 25px;
                    }
                }

                .right{
                    width: 50%;

                    ul{
                        li{
                            padding-left: 0;

                            &#bookTable{
                                a{
                                    padding-left: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .slide#slider{
        height: 100%;

        .carousel-inner{
            .slide-banner{
                width: 90%;
                height: auto;
                top: 40%;
                left: 5%;

                .image{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }

    .main-content{
        .content{
            padding-top: 50px;
            padding-bottom: 50px;

            .mask{
                width: 300px;
                height:300px
            }

            .text{
                margin-bottom: 30px;

                h1{
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
            }
        }

        .break{
            .container{
                .title{
                    width: 100%;
                }
            }
        }

        .content#food{
            display: flex;
            flex-direction: column;

            .left{
                order: 2;
            }

            .right{
                order: 1;
            }
        }

        .container-fluid#gallery{
            padding-left: 15px;
            padding-right: 15px;

            .slide#slideGallery{
                .item{
                    .inner{
                        padding: 5px;

                        .mask{
                            width: 100%;
                        }
                    }
                }
            }
        }

        .container#contact{
            .btn-outline{
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }

    .footer{

        .left, .right{
            padding-top: 0;
            text-align: center;
        }

        .container{
            .row{
                display: flex;
                flex-direction: column;

                .left{
                    order: 3;
                }

                .middle{
                    order: 1;
                }

                .right{
                    order: 2;
                }
            }
        }
    }
}

/*
========== TABLET ==========
 */

@media (min-width: 768px) and (max-width: 992px){
    .main-content{
        .content{
            .mask{
                width: 300px;
                height:300px
            }
        }
    }
}

/*
========== SMALL DESKTOP ==========
 */

@media (min-width: 992px){
    .main-content{
        .content{

        }
    }
}