/*
MAIN RESPONSIVE STYLE OF SITE

AUTHOR: hung.luong@matocreative.vn

CONTENT:

1/MOBILE
2/TABLET
3/DESKTOP

 */

/*
========== MOBILE ==========
 */

@media (max-width: 768px){
    .header{
        background-color: #333;

        .container{
            height: 150px;

            .logo{
                left: 15px;
                margin-left: 0;
            }

            .nav-expand{
                top: 100%;
                background-color: #333;

                z-index: 999;

                .left, .right{
                    float: left;

                    ul{
                        li{
                            display: list-item;
                        }
                    }
                }
            }
        }
    }

    .slide{
        height: 100%;
    }

    .main-content{
        .content{
            .mask{
                width: 300px;
                height:300px
            }
        }

        .break{
            .container{
                .title{
                    width: 100%;
                }
            }
        }
    }
}

/*
========== TABLET ==========
 */

@media (min-width: 768px) and (max-width: 992px){
    .main-content{
        .content{
            .mask{
                width: 300px;
                height:300px
            }
        }
    }
}

/*
========== SMALL DESKTOP ==========
 */

@media (min-width: 992px){
    .main-content{
        .content{
            .mask{
                width: 400px;
                height:400px
            }
        }
    }
}